<div class="products-list--wrapper" *ngIf="!!productsListMode">
  <p-table [value]="products" styleClass="p-datatable-gridlines"
           [paginator]="true" [rows]="itemsPerPage" [rowsPerPageOptions]="[5, 10,20]" [totalRecords]="totalItems"
           [(first)]="firstItem" [lazy]="true" (onLazyLoad)="loadProductsLazy($event)"
           sortMode="single" sortField="title">
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:15rem" pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
        <th style="min-width:15rem" pSortableColumn="brand">Brand <p-sortIcon field="brand"></p-sortIcon></th>
        <th style="min-width:15rem" pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
        <th style="min-width:20rem">Description</th>
        <th style="min-width:10rem" pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
        <th style="min-width:5rem" *ngIf="productsListMode===productsListModeEnum.All">Selected</th>
        <th style="min-width:5rem" *ngIf="productsListMode===productsListModeEnum.All">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.title}}</td>
        <td>{{product.brand}}</td>
        <td>{{product.category}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td *ngIf="productsListMode===productsListModeEnum.All">{{product.isSelected}}</td>
        <td *ngIf="productsListMode===productsListModeEnum.All">...</td>
      </tr>
    </ng-template>
  </p-table>
</div>

