<div class="products--wrapper flex flex-column">

  <div class="products--header flex flex-row align-items-center justify-content-start">
    <h2 class="products--header__title flex flex-grow-1 align-items-center justify-content-center">{{title}}</h2>
  </div>

  <div class="products--content flex flex-row align-items-start">
    <div class="products--sidebar flex"><app-products-sidebar></app-products-sidebar></div>
    <div class="products--list flex flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

